.ruedita {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: girar 2s linear infinite; /* Safari */
  animation: girar 2s linear infinite;
}

.historial{
  padding-bottom: 2rem;
}

.bannerHistorial{
  padding-bottom:2rem;
}

@-webkit-keyframes girar {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}